<html>
<head> 

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

<link rel="icon" class = "rounded" type= "image/jpg" href="images/santa.png">
<link rel="stylesheet" href="css/santa.css">

<meta charset="utf-8">

<title>Secret Santa</title>

</head>

<body>

    <nav class = "navbar navbar-expand-sm" id="menu" style = "background-color: #ED0000; color: #ffffff;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="accueil.html"><img src = "images/santa.png" style = "width: 35px;" ></a>
            </li>
        </ul>
        <h2><strong>Secret Santa</strong></h2>
    </nav>  

    <div id = "contenu">
        <center><h3><strong>Liste des personnes présentes dans "Nom du groupe"</strong></h3></center>

        <button onclick="creatUser()" class="btn btn-success ajout-personne">Ajouter une personne</button>

        <div id="tableau">
            <table id="tbl-personne" class ="table table-striped table-hover"
                data-toolbar=".ajout-personne"
                data-toggle="table"
                data-page-size="15"
                data-page-list="[5,10,15,20,50,100,200,500,All]"
                data-search="true">

                <thead style = "text-align: center;">
                    <tr>
                        <th>Nom du groupe</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody id="tbodyListGroup" style = "text-align: center;">

                </tbody>
            </table>
        </div>
    </div>


    <footer>
        <center><p><strong>Et un joyeux Noël à tous</strong></p></center>
    </footer>

</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {

        let CheminComplet = document.location.href;
        let idGroupUrl  = CheminComplet.substring(CheminComplet.indexOf("?")+1);
        let mesInfos = {
            idGroup: idGroupUrl
        };
       $.ajax({
           dataType: "json",
           type: "GET",
           url: 'http://localhost:3000/groupForUser/'+mesInfos.idGroup,
          success: callBackAjaxGroupListOnce
         });
       function callBackAjaxGroupListOnce(response) {
         return Object.values(response).forEach((res) => {
             let child = '<tr><td id="'+res._id+'">'+res.nom+'</td></td>'+
                         '<td><button class="btn btn-primary btn-sm btn-edit" title="Modifier">'+
                         '<span class="fas fa-edit"></span></button>'+
                         '&nbsp;&nbsp;<button class="btn btn-danger btn-sm btn-remove" title="Supprimer">'+
                         '<span class="fas fa-trash-alt"></span></button></td></tr>';
             $('#tbodyListGroup').append(child);
         });
       }
     });
    function creatUser(){
            let cheminFolder = document.location.href.substring(0,document.location.href.lastIndexOf('add_personne.html'));
            let CheminComplet = document.location.href;
            let idGroup  = CheminComplet.substring(CheminComplet.indexOf("?")+1);
            document.location.href= cheminFolder + "add_personne.html?" + idGroup ;
        }
</script>

</html>

